{% extends 'layout.html' %}

{% block title %}Home {% if active_folder %} - {{ active_folder.name }}{% endif %}{% endblock %}
{% block content %}
<div class='desktop'>
    <div class='desktop-tools'>
        <span id='new_folder_on'><i class="fa-solid fa-folder-plus"></i> <span>New folder</span></span>
        <span id='new_file_on'><i class="fa-solid fa-file-import"></i> <span>Send a file</span></span>
        <span id="create_file_on"><i class="fa-regular fa-file-lines"></i> <span>Create file</span></span>
        <span id="send_folder_on"><i class="fa-solid fa-folder-open"></i> <span>Send a folder</span></span>
    </div>

    <div class="top_tools">
        {% if back is not None %}
            <a href='{% url "index" id_folder=back %}'><span class='up'><i class='fa-solid fa-left-long'></i></span></a>
        {% elif not home %}
            <a href='/'><span class='up'><i class='fa-solid fa-left-long'></i></span></a>
        {% endif %}
        <span class="path">
            {% for folder in active_folder.parents %}
            <a href="{% url 'index' id_folder=folder.id %}" class="path_folder">{{ folder }} <i class="fa-solid fa-angle-right"></i></a>
            {% endfor %}
            <span class="path_folder">.</span>
        </span>
    </div>

    {% for folder in folders %}
    
        <div class='folder'>
            <a href='{% url "index" id_folder=folder.id %}'>
                <i class='fa-solid fa-folder'></i>
                <span>{{ folder.name }}</span>
            </a>
            <div>
                <span>
                    <span class='delete_active' which="{{ folder.id }}" ff="folder" name="{{ folder.name }}">
                        <i class='fa-solid fa-trash'></i>
                    </span>
                </span>
                <span class="rename_folder" which="{{ folder.id }}"><i class="fa-solid fa-pen"></i></span>
                <a href="{% url 'download_folder' id=folder.id %}" download><i class="fa-solid fa-download"></i></a>
            </div>
        </div>
  
    {% endfor %}
    {% for file in files %}
    <div class='file'>
        <a href='{% url "show" id=file.id %}'>
            <i class='fa-solid fa-file'></i>
            <span>{{ file.name }}</span>
        </a>
        <div>
            {% if not file.is_binary %}
                <a href='{% url "edit_file" file=file.id %}'>
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            {% endif %}
            <span class='delete_active' which="{{ file.id }}" ff="file" name="{{ file.name }}">
                <i class='fa-solid fa-trash'></i>
            </span>
            <span class="rename_file" which="{{ file.id }}" name="{{ file.name }}"><i class="fa-solid fa-pen"></i></span>
            <a href="{% url 'files' file_id=file.id %}" download><i class="fa-solid fa-download"></i></a>
        </div>
    </div>
    {% endfor %}
    <form action='{% url "new_folder" %}' method='POST' id='new_folder' class="hidden_form">
        <h1>New folder</h1>
        <input type='text' autocomplete="off" name='name' placeholder="Folder name">
        <input type='hidden' value='{{ active_folder_id }}' name='parent'>
        {% csrf_token %}
        <div>
            <button type='button' class='cancel'>Cancel</button>
            <button type='submit'>OK</button>
        </div>

    </form>
    <form action='{% url "new_file" %}' method='POST' id='new_file' enctype='multipart/form-data' class="hidden_form">
        <h1>Send a file</h1>
        <label for="file_input">SELECT</label>
        <input type='file' autocomplete="off" name='file' id='file_input' multiple>
        <input type='hidden' value='{{ active_folder_id }}' name='parent'>
        {% csrf_token %}
        <div>
            <button type='button' class='cancel'>Cancel</button>
            <button type='submit'>Send</button>
        </div>
    </form>
    <form action='{% url "create_file" %}' method='POST' id='create_file' class="hidden_form">
        <h1>Create a file</h1>
        <input type='text' autocomplete="off" name='name' placeholder="Filename">
        <input type='hidden' value='{{ active_folder_id }}' name='parent'>
        {% csrf_token %}
        <div>
            <button type='button' class='cancel'>Cancel</button>
            <button type='submit'>OK</button>
        </div>
    </form>
    <form action='{% url "rename_file" %}' method='POST' id='rename_file' class="hidden_form">
        <h1>Rename</h1>
        <input type='text' autocomplete="off" name='name'>
        <input type='hidden' value='' name='file' id="file_rename_id">
        {% csrf_token %}
        <div>
            <button type='button' class='cancel'>Cancel</button>
            <button type='submit'>OK</button>
        </div>

    </form>
    <form action='{% url "rename_folder" %}' method='POST' id='rename_folder' class="hidden_form">
        <h1>Rename</h1>
        <input type='text' autocomplete="off" name='name'>
        <input type='hidden' value='' name='folder' id="folder_rename_id">
        {% csrf_token %}
        <div>
            <button type='button' class='cancel'>Cancel</button>
            <button type='submit'>OK</button>
        </div>

    </form>
    <form action="{% url 'delete' %}" method="POST" class="hidden_form" id="delete_form">
        <h1>Remove <span id="filename"></span>?</h1>
        <input type='hidden' value='' name='id' id="f">
        {% csrf_token %}
        <input type="hidden" value='' name='ff' id="ff">
        <div>
            <button type='button' class='cancel'>Cancel</button>
            <button type='submit'>DELETE</button>
        </div>
    </form>
    <form action='{% url "send_folder" %}' method='POST' id='send_folder' enctype='multipart/form-data' class="hidden_form">
        <h1>Send a folder</h1>
        <label for="folder_input">SELECT FOLDER</label>
        <input type='file' autocomplete="off" name='folder' id='folder_input' directory="" webkitdirectory="" mozdirectory="">
        <input type='hidden' value='{{ active_folder_id }}' name='parent'>
        <input type="hidden" value="" name="paths" id="paths">
        {% csrf_token %}
        <div>
            <button type='button' class='cancel'>Cancel</button>
            <button type='submit'>Send</button>
        </div>
    </form>
</div>
{% endblock %}